.add-strains{
  &__form{
    padding: 24px;
    max-width: unset !important;
    flex: unset !important;
    display: block !important;
  }
  .mat-form-field{
    width: 100%;
  }
  &__confirm,
  &__reset{
    width: 100%;
    height: 40px;
    margin-top: 8px;
  }
}

@media screen and (max-width: 768px){
  .add-strains{
    &__form{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
