<div class="login">
  <div class="login__inner">
    <a routerLink="/" class="login__logo">
      <img src="../../../assets/images/logo-blue.png" alt="logo" />
    </a>
    <div class="login__form">

      <form [formGroup]="registerForm" fxLayout="column">
        <h1 class="title">Register</h1>
        <div class="reg-errors">
          <div fxLayout="row" [ngClass]="{'error': hasUpperCase, 'valid': !hasUpperCase }">
            <mat-icon aria-hidden="false" aria-label="Error Icon" *ngIf="hasUpperCase">close</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Error Icon" *ngIf="!hasUpperCase">done</mat-icon>
            <strong>Has Upper Case</strong>
          </div>
          <div fxLayout="row" [ngClass]="{'error': hasLowerCase, 'valid': !hasLowerCase }">
            <mat-icon aria-hidden="false" aria-label="Error Icon" *ngIf="hasLowerCase">close</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Error Icon" *ngIf="!hasLowerCase">done</mat-icon>
            <strong>Has Lower Case</strong>
          </div>
          <div fxLayout="row" [ngClass]="{'error': hasNumeric, 'valid': !hasNumeric }">
            <mat-icon aria-hidden="false" aria-label="Error Icon" *ngIf="hasNumeric">close</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Error Icon" *ngIf="!hasNumeric">done</mat-icon>
            <strong>Has Numeric</strong>
          </div>
          <div fxLayout="row" [ngClass]="{'error': hasNonAlphaNumeric, 'valid': !hasNonAlphaNumeric }">
            <mat-icon aria-hidden="false" aria-label="Error Icon" *ngIf="hasNonAlphaNumeric">close</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Error Icon" *ngIf="!hasNonAlphaNumeric">done</mat-icon>
            <strong>Has Non Alpha Numeric</strong>
          </div>
          <div fxLayout="row" [ngClass]="{'error': hasMinLength, 'valid': !hasMinLength }">
            <mat-icon aria-hidden="false" aria-label="Error Icon" *ngIf="hasMinLength">close</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Error Icon" *ngIf="!hasMinLength">done</mat-icon>
            <strong>Has Minimum of 6 Characters</strong>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group__top">
            <label>Email:</label>
            <div>
              <mat-error *ngIf="hasError('email', 'email')">Invalid Email</mat-error>
              <mat-error *ngIf="hasError('email', 'required')">Email is Required</mat-error>
            </div>
          </div>
          <div>
            <input matInput placeholder="Email" formControlName="email">
          </div>
        </div>
        <div class="form-group">
          <div class="form-group__top">
            <label>Password:</label>
            <mat-error *ngIf="hasError('password', 'required')">Password is Required</mat-error>
          </div>
          <div>
            <input matInput type="password" placeholder="Password" formControlName="password">
          </div>
        </div>
        <div class="form-group">
          <div class="form-group__top">
            <label>Confirm password:</label>
            <mat-error *ngIf="hasError('password', 'required')">Password is Required</mat-error>
          </div>
          <div>
            <input matInput type="password" placeholder="Confirm Password" formControlName="password">
          </div>
        </div>
        <button mat-raised-button class="add-device__confirm btn btn-danger" type="button" [disabled]="!registerForm.valid || isLoading" (click)="register()">Sign Up</button>
      </form>
      <div class="login__form-bottom">
        <div class="login__form-question">Already have an account?</div>
        <a [routerLink]="['/login']" class="btn btn-outline login__form-reg">Log in</a>
      </div>
    </div>
    <div class="login__footer">Selective Lab Inc, 2021</div>
  </div>
</div>





