@import 'variables';

.login{
  display: flex;
  justify-content: center;
  background: $muted-color3;
  height: 100%;
  &__inner{
    height: 100%;
    width: 448px;
    padding: 70px 0 28px;
    flex-direction: column;
    display: flex;
  }
  &__footer{
    margin-top: auto;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.5px;
    color: $black-secondary;
    opacity: 0.65;
    text-align: center;
  }
  &__logo{
    margin: 0 auto;
    width: 212px;
    display: block;
    img{
      width: 100%;
    }
  }
  &__form{
    margin-top: 70px;
    background: #FFFFFF;
    border-radius: 6px;
    padding-top: 60px;
    &-bottom{
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 44px;
      height: 72px;
      border-top: 1px solid $grey-color;
    }
    &-question{
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.5px;
    }
    &-reg{
      text-decoration: none;
      width: 114px;
      height: 32px;
    }
  }
  form{
    padding: 0 44px;
  }
  h1{
    margin-bottom: 36px !important;
  }
}

@media screen and (max-width: 576px){
  .login{
    &__form{
      margin-top: auto;
      &-bottom{
        margin-top: 55px;
      }
    }
    &__inner{
      padding: 122px 0 0;
      width: 100%;
    }
    &__footer{
      display: none;
    }
  }
}
